

header {
  height: 90px;
  width: 100%;
  background-color: rgb(1,63,78);
  display: flex;
  justify-content: flex-start;
}

.logo {
  height: 80px;
  margin-top: 8px;
  margin-left: 175px;
}

.title {
  font-size: 46pt;
  margin-top: 2px;
  margin-left: 15px;
  color: #00AB8E;
}

.search-bar {
  background-color: white;
  height: 80px;
}

.input-field {
  margin-top: 20px;
}

.submit-btn {
  margin-top: 20px;
}

.url-input-div {
  margin-left: 25px !important;
}

.url-input-div:after {
  content: none !important;
}


.url-table {
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 11px;
  background-color: #f9f8f3;
}

.feature-card {
  border: 1px solid black;
  border-radius: 12px;
  padding: 0 !important;
}

.feature-card-header {
  padding: 8px;
  padding-left: 30px;
  background-color: #003D4C;
  color: #888B8D;
  border-radius: 11px 11px 0 0;
}

.feature-card-content {
  background-color: #f9f8f3;
  border-radius: 0 0 11px 11px;
  display:flex;
  justify-content: space-between;
}

.feature-card-content-left {
  width: 80%;
  padding: 8px;
  padding-left: 30px;
  color: #003D4C;
}

.feature-card-content-right {
  width: 20%;
  padding: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.feature-card-content-center {
  padding: 15px 50px 50px 50px;

}

.tag {
  padding-top: 5px;
  margin-left: 5px;
}

.stag-prod {
  color: #00AB8E;
}

.present {
  color: #00AB8E;
}

.instance-name {
  color: #FDB813;
}
